PyPDF2==3.0.1

pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
rank-bm25==0.2.2
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0

python-dotenv==1.1.1
nest-asyncio==1.6.0

langchain==0.3.26
langchain-core==0.3.79
langchain-community==0.3.27
langchain-text-splitters==0.3.8
langchain-chroma==0.2.6
langchain-docling==1.0.0
langchain-google-genai==2.1.8

streamlit==1.45.1
